
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.homepage {
  width: 100%;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-text {
  color: #555;
  margin-bottom: 30px;
}

.login-btn {
  background: #ff4d4d;
  border: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.hero-right {
  width: 45%;
  text-align: center;
}

.hero-right img {
  width: 100%;
}

.hero-quote {
  margin-top: 10px;
  color: #777;
}

/* STATS */
.stats {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.stat-item h2 {
  font-size: 28px;
  text-align: center;
}

.stat-item p {
  font-size: 14px;
  text-align: center;
}

/* CTA */
.cta {
  text-align: center;
  padding: 50px 20px;
}

.cta-logo {
  width: 250px;
}

.cta-text {
  margin: 10px 0 30px;
  color: #666;
}

.cta-actions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outline-btn {
  background: transparent;
  border: 2px solid #ff4d4d;
  padding: 10px 20px;
  color: #ff4d4d;
  border-radius: 20px;
  cursor: pointer;
}


.donate-btn {
  background: #ff0000;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #2e2e2e;
  color: #fff;
  padding: 40px 80px;
}

.droplo{
    width: 45px;
    height: 45px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 6px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa;
}

