* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

/* CONTENT AREA */
.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
}

/* LEFT IMAGE */
.image-section {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 520px;
  max-width: 100%;
}

/* LOGIN CARD */
.login-box {
  width: 380px;
  border: 2px solid #e53935;
  border-radius: 14px;
  padding: 40px 30px;
  text-align: center;
}

.login-box h2 {
  color: #e53935;
  margin-bottom: 30px;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 25px;
  border: 1px solid #e53935;
  margin-bottom: 14px;
  outline: none;
}

/* FORGOT */
.forgot {
  text-align: left;
  font-size: 12px;
  color: #555;
  margin-bottom: 22px;
  cursor: pointer;
}

/* BUTTONS */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  background: #e53935;
  color: #fff;
  border: none;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Add this at the end of your Login.css */
.error-message {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}


.signup-text {
  font-size: 12px;
  margin-bottom: 10px;
}

.signup-btn {
  padding: 8px 18px;
  border-radius: 20px;
  background: #e53935;
  color: #fff;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 12px;
}
