* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  min-height: 100vh;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.login-illustration{
  width: 500px;
  height: auto;
}

/* Navbar */
.navbar {
  background: #ffffff;
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #d32f2f;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: #d32f2f;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 28px;
}

.navbar li {
  color: #333;
  font-size: 15px;
  cursor: pointer;
}

/* Content */
.content {
  flex: 1;
  margin: 40px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

/* Quote */
.quote-section {
  width: 50%;
}

.quote-section p {
  font-size: 22px;
  color: #444;
  line-height: 1.6;
}

/* Login box */
.login-box {
  width: 360px;
  border: 2px solid #d32f2f;
  border-radius: 12px;
  padding: 32px;
  text-align: center;
}

.login-box h2 {
  color: #d32f2f;
  margin-bottom: 24px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 25px;
  border: 1px solid #d32f2f;
  outline: none;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #555;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn,
.signup-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.login-btn {
  background: #d32f2f;
  color: #ffffff;
  margin-bottom: 15px;
}

.signup-text {
  font-size: 12px;
  margin-bottom: 8px;
}

.signup-btn {
  background: #d32f2f;
  color: #ffffff;
}

/* Footer */
.footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 16px;
}

.header-logo {
  width: 40px;      /* logo width */
  height: auto;     /* ratio maintain කරගන්න */
  object-fit: contain;
}