.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.signup-card {
  width: 700px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border: 2px solid red;
  color: white;
}

.logo {
  height: 70px;
  width: 70px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
}

/* FORM */
form {
  margin-top: 20px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.full {
  width: 100%;
  margin-bottom: 15px;
}

.checkbox {
  font-size: 14px;
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

.submit {
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  background: red;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 13px;
}

.footer span {
  color: red;
  margin-left: 5px;
  cursor: pointer;
}
