/* ================= PAGE ================= */
.edit-page {
  min-height: 92.25vh;
  padding: 20px 48px;
  background-color: #f9f9f9;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  position: relative;
}

/* ================= HEADER ================= */
.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-header h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #1f2937;
}

.edit-header p {
  margin-top: 6px;
  font-size: 13px;
  color: #9ca3af;
}

.save-btn {
  padding: 8px 22px;
  border-radius: 999px;
  border: 1.5px solid #ff0105;
  background: transparent;
  font-size: 13px;
  cursor: pointer;
}

.save-btn:hover {
  background: rgba(255, 1, 5, 0.08);
}

/* ================= CARD ================= */
.edit-card {
  width: 900px;
  margin: 40px auto 0;
  padding: 0;              /* remove inner padding */
  background: none;        /* remove gradient */
  box-shadow: none;        /* remove shadow */
  border-radius: 0;        /* remove rounded corners */
  position: relative;
}

/* ================= USER ================= */
.edit-user {
  margin-bottom: 30px;
}


.edit-user img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-user h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.edit-user span {
  font-size: 12px;
  color: #6b7280;
}

/* ================= FORM ================= */
.edit-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 22px;
  /* LEFT COLUMN */
.first-name,
.last-name,
.dob,
.address,
.donation {
  grid-column: 1;
}

/* RIGHT COLUMN */
.province,
.district,
.gender {
  grid-column: 2;
}

}

.field label {
  display: block;
  font-size: 12px;
  margin-bottom: 7px;
  color: #374151;
}

.field input,
.field select {
  width: 100%;
  padding: 11px 14px;
  border-radius: 12px;
  border: 1.5px solid #ff0105;
  background-color: #F3F3F3;
  font-size: 13px;
  color: #ff0105;
  outline: none;
}

.field select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23ff0105' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
}

/* ================= BLOODLINK LOGO ================= */
.logo {
  position: absolute;
  right: 210px;
  bottom: 28px;
  width: 50px;
  z-index: 3;
}

.bloodlink {
  position: absolute;
  right: 50px;
  bottom: 40px;
  width: 150px;
  z-index: 3;
}



/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {
  .edit-card {
    width: 100%;
    padding: 35px;
  }

  .edit-form {
    grid-template-columns: 1fr;
  }
}
