.header {
  width: 100%;
  background-color: #F3F3F3;
  border-bottom: 2px solid #FF0105;
  padding: 10px 0;
}

.header-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
}

.brand-text {
  height: 32px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #333333;
}

.nav-menu ul li a:hover {
  color: #c62828;
}
