.header {
  position: relative;
  width: 100vw;              /* force full screen */
  left: 50%;
  right: 50%;
  margin-left: -50vw;        /* break out of parent */
  margin-right: -50vw;
  margin-top: -0.5vw;

  background-color: #F3F3F3;
  border-bottom: 2px solid #FF0105;
  padding: 10px 0;
  
}

.header-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
}

.brand-text {
  height: 32px;
}


